@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #313131;
}

.text-primary {
  color: #008BFF;
  /* font-family: ; */
}

a:active {
  color: #008BFF;
}
